<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This a demo app developed by Arunkumar Senthilnathan. It is a basic
  library system where users can create an account, view books already
  hired by them, view all books available, search for a specific book,
  hire a book if availabe and  return books already hired by them. This 
  app has been developed with the help of <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
