<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This is a demo app developed by Arunkumar Senthilnathan. It is a basic
  library system where users can create an account, view books already
  hired by them, view all books available,  hire a book if availabe and  
  return books already hired by them. 
</p>
