<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  If you have app specific questions, please contact Arunkumar Senthilnathan
  at his <a href="mailto:arunkumar.senthilnathan@chronus.com">email</a>.
  To get help on Ruby, see the <a href="http://railstutorial.org/book">Rails Tutorial book</a>
</p>
