<footer class="footer">
  <small>
    Demo by Arunkumar Senthilnathan
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://in.linkedin.com/pub/arunkumar-senthilnathan/16/161/b19/">News</a></li>
    </ul>
  </nav>
</footer>
